<h1>AmazeBalls Events</h1>

<div class="container">
  <% if @events.empty? %>
    <p>There are no events planned.</p>
  <% else %>
    <% @events.each do |event| %>
      <div class="card">
        <%= event.name %>
        <%= event.date %>
        <%= event.location %>
        <%= link_to 'Learn More', event_path(event) %>
      </div>
    <% end %>
      <br>
  <% end %>
</div>